#ventana_flotante{
    width: 100%;
    height: 100%;
    padding-top: 7%;
    color: #FFFFFF;
    position: absolute;
    background: url(/Imagenes/fondo-transparente.png);
    top: 0;
    left: 0;
    z-index:1;
}

#fAcontec{
    background: white;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #D3D3D3;
    padding: 20px;
    margin: 10px auto;
    -webki-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    color: #555555;
}

@media (max-width: 415px){
    #fAcontec{
        width: 300px;
    }
}

#fAcontec > #cerrar{
    display: block;
}

#cerrar{
    text-align: right;
    margin: 0px auto 20px auto;
}

#cerrar i{
    color: red;
}

h4{
    margin-top: 50px;
}

#fAcontec #Aceptar, #fAcontec #Cancelar{
    width: 45%;
    margin-top: 20px;
    height: 50px;
}

#Aceptar > i, #Cancelar > i{
    margin-right: 5px;
}

#miAcontecimiento{
    border: 1px solid black;
    background: white; 
}

#miAcontecimiento h5{
    color: #A00806;
}

#miAcontecimiento img{
    border: 10px solid black;
    margin: 25px auto;
}

#miAcontecimiento p{
    font-family: Paprika;
    font-size: 14px;
    color: black;
}

#tabs img, #novedades img{
    border: 10px solid black;
    margin: 25px auto;
}

.nuevos > button > i{
    margin-right: 7px;
}

#borrar{
    text-align: right;
    margin-bottom: 10px;
}

#BorrarComent > i{
    margin:0;
}

.nuevos > button{
    font-size: 15px;
    margin-bottom: 10px;
}

#fComent{
    font-size: 14px;
}

#fComent > input, #fComent textarea{
    margin-bottom: 15px;
}

#fComent > button > i, #fComent > a > button > i{
    margin-right: 7px;
}

@media (max-width: 359px) {
    #miAcontecimiento{
        font-size: 12px;
    }
    #EnviarComent{
        margin-bottom: 10px;
    }
}