*, html{
    height: auto;
    padding: 0;
    margin: 0;
}

#miMenu{
    padding: 0 5%;
    margin-bottom: 0;
    background: #FFCC6D;
    border: 1px solid #FFCC6D;
    box-shadow: 0px 2px 10px black;
}

#h2_red{
    color: red;
}

#miMenu .navbar-default .navbar-toggle{
    border-color: #888;
}


#miMenu .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: #F9F95E;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: #F9B53E;
    color: black;
    border: 1px dotted #A00806; 
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: #F9F95E; 
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: #A00806; 
}

#miMenu .navbar-brand{
    height: auto;
    padding: 14px 15px;
}

#miMenu .navbar-brand span{
    background: #FFCC6D;
}

#miMenu .navbar-brand i{
    vertical-align: -50%;
    margin-right: 7px;
}

@media (max-width: 359px) {
    #miMenu .navbar-brand i{
        margin-right: 0px;
        width: 18px;
    }
}

#miMenu a.navbar-brand{
    padding: 10px;
}

#miMenu a.navbar-brand > span.badge{
    margin: 0;
    background: #A00806;
}

#miMenu h2{
    margin:3px 0;
    padding:0;
    font-family: Fredericka_the_Great;
    background: white;
    opacity: .8;
    color: #000000;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a{
    color: black;
}

#miMenu i{
    margin-right: 7px;
    color: #000000;
}

#izq a > i:hover, a > i:hover{
    color: #A00806;
}

#izq{
    margin-top: 5px;
}

#ultimo{
    margin-right: 25px;
}

#form_salir{
    padding: 0;
    margin: 0;
    width: 0;
}

#Salir{
    float: left;
    margin-top: 10px;
    font-size: 15px;
}

#Salir > a{
    color: white;
}

@media (max-width: 767px) {
    #miMenu .visible-xs {
        display: inline-block !important;
    }
}

#miMenu .badge{
    margin-right: 3px;
    background: #A00806;
}
