@font-face{
    font-family: Amatic_SC_Regular;
    src:url(Amatic_SC/AmaticSC-Regular.ttf);
}

@font-face{
    font-family: Amatic_SC_Bold;
    src:url(Amatic_SC/AmaticSC-Bold.ttf);    
}

@font-face{
    font-family: Paprika;
    src:url(Paprika/Paprika-Regular.ttf);    
}

@font-face{
    font-family: Fredericka_the_Great;
    src:url(Fredericka_the_Great/FrederickatheGreat-Regular.ttf);    
}