*, html{
        height: auto;
	padding: 0;
	margin: 0;
}

#principal div{
        text-align: center;
}

#ventana_flotante{
        width: 100%;
        height: 100%;
        padding-top: 7%;
        color: #FFFFFF;
        position: fixed;
        background: url(/Imagenes/fondo-transparente.png);
        top: 0;
        left: 0;
        z-index: 1;
}

#flogin{
        font-family: 'Paprika', cursive;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 2px 10px #D3D3D3;
        padding: 20px;
        margin: 40px auto;
        width: 350px;
        -webki-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        color: #555555;
}

#ventana_flotante label{
        margin: 15px 5px;
}

#flogin button.col-xs-12{
    float:none;
}

#Conectar, #Registrar{
        margin-top: 20px;
        height: 50px;
}

#principal #ventana_flotante{
        text-align: left;
}

#principal #ventana_flotante h2{
        font-family: 'Amatic SC', cursive;
        margin-top: 0;
        font-size: 45px;
        text-align: center;
}

#principal #ventana_flotante #cerrar{
        text-align: right;
}

#ventana_flotante .input-group, #ventana_flotante input[type="text"], #ventana_flotante input[type="password"]{
        height: 45px;
}

#cerrar i{
        color: red;
}

#Conectar i, #Registrar i{
        margin-right: 5px;
}

#btEntrar{
        font-family: 'Fredericka the Great', cursive;
        margin-top: 12%;
        text-align: center;
        border: 1px solid #737521;
        width: 110px;
        height: 110px;
        opacity: .8;
        color: #737521;
        font-size: 16px;
        font-weight: bold;
}

#btEntrar a{
        color: #737521;
}

#btEntrar:hover{
	opacity: 1;
}

#principal, #scroll1, #scroll2, #scroll3{
	/*box-shadow: 0 0 20px #000000;*/
	box-shadow: 0 0 20px rgba(0,0,0, .7);
	-webkit-box-shadow: 0 0 30px #000000;
}

#irArriba{
        position: fixed;
        bottom: 6%;
        right: 5%;
        width: 55px;
        height: 55px;
        z-index: 1;
        background: url(/Imagenes/flecha_arriba.png);
}