body{
    background: url(/Imagenes/prueba_navvv.jpg) 50% 0 no-repeat fixed;
}
@media all and (min-width: 768px){
    body{
        background: url(/Imagenes/prueba_navvv_larga.jpg) 50% 0 no-repeat fixed;

    }
}

h3{
    font-family: Amatic_SC_Regular;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

@media all and (min-width: 1400px){
    body{
        margin:0 auto;
        max-width: 1400px;
    } 
}

#irArriba{
    position: fixed;
    bottom: 6%;
    right: 4%;
    width: 55px;
    height: 55px;
    z-index: 1;
    background: url(/Imagenes/flecha_arriba_n.png);
}

#contenedor{
    margin: 0 auto;
    padding-top: 10px;
    min-height: 900px;
}

aside{
    padding:0; 
    margin-right: 15px;
    margin-left: 3.5%;    
    color: black;
    border: 1px solid black;
}

#mensajes_flash{
    text-align: center;
}

#busqueda{
    padding:0;
    margin-bottom: 1%;
}

#busqueda .input-group-addon{
    background: #A00806;
    color: white;
}

@media all and (max-width: 767px){
    aside{
        margin: 0 auto;
    }
    
    #novedades{
        margin: 0 auto;
        padding: 0;
    }
    
    .nuevos{
        padding:0 ;
        margin: 0;
    }
}

#menu_vertical{
    color:white;
    padding: 0;
    margin-bottom: 3%;
    border-radius: 6px;
    -webki-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

#menu_vertical ul{
    padding: 0;
}

#menu_vertical li{
    padding: 0;
    margin: 0;
}

#menu_vertical a{
    background: #DD4444;
    padding: 15px;
    color: white;
    border-bottom: 1px solid black;
}

#menu_vertical a:hover, #menu_vertical a.active{
    background: #A00806;
    color: white;
}

#menu_vertical i{
    margin-right: 7px;
    color: white;
}

#menu_vertical img{
    margin-right: 10px;
}

#tabs{
    padding:0;
    margin:0;
    border: 1px solid black;
}

.misImagenes{
    max-width: 450px;
    margin: 0 auto;
}

#tabs img, #novedades img{
    border: 10px solid black;
    margin: 25px auto;
}

#tabs-1 p, #tabs-2 p, #tabs-3 p, #novedades{
    font-family: Paprika;
    font-size: 14px;
    color: black;
}

#tabs-1 h5, #tabs-2 h5, #tabs-3 h5{
    color: #A00806;
    margin-bottom: 10px;
}

#novedades{
    background: white;
    margin-top: 3%;
    padding: 0;
    border: 1px solid black;
    border-radius: 6px;
    -webki-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;    
}

@media (min-width: 1200px) {
    #novedades, #busqueda{
        margin-left: 3.5%;
        width: 1060px; 
    }
}

#novedades h1{
    background: #A00806;
    font-family: Fredericka_the_Great;
    font-weight: bold;
    color: white;
    margin: 0 0 1% 0;
    padding: 2%;
    text-align: center;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webki-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;         
}

#advertencia{
    font-size: 12px;
}

#paraBoton{
    padding:0;
    margin:0;
}

#NuevoAcontec, #EnviarAdmin, #OcultarForm{
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

#NuevoComent{
    margin: 10px 0 0 0;
    text-align: left;
    font-weight: bold;
    
}

#NuevoAcontec{
    margin-left: 10px;
}

#NuevoComent.btn-default{
    background: #FDCD7B;
}

#NuevoComent.btn-default:hover{
    background: #FCB441;
}

#NuevoAcontec.btn-warning{
    background: #F7811F;
}

#NuevoAcontec.btn-warning:hover{
    background: #EA6900;
}

#NuevoAcontec i, #EnviarAdmin i, #OcultarForm i, #NuevoComent i{
    margin-right: 7px;
}

#fAcontec > div{
    padding: 0;
    display: inline-block;
    margin: 0px auto 20px auto;
}

#fAcontec > select{
    margin-bottom: 20px;
    font-size: 13px;
}

#fAcontec > select > option{
    margin-bottom: 10px;
}

#fAcontec > h6{
    margin-left:0;
    padding-left: 0;
}

.nuevos{
    margin-top: 2%;
    padding: 0 25px 25px 25px; 
}

.todos_comentarios{
    display: inline-block;
    width: 100%;
}

.todos_comentarios > form.col-xs-12{
    padding-left: 0;
}

.todos_comentarios > button{
    float: none;
}

#novedades h6, #novedades h3{
    margin-left: 25px;
}

#novedades input[type="file"]{
    margin-bottom: 20px;
}

.border-row{
    border-top: 1px solid black;
    margin-bottom: 20px;
}

@media (max-width: 359px) {
    #tabs-1, #tabs-2, #tabs-3{
        font-size: 12px;
    }

    #contenedor ul{
        font-size: 13px;
    }
}

#contenedor .ui-tabs .ui-tabs-nav{
    padding: 0;
}

#contenedor .ui-tabs .ui-tabs-nav li{
    margin: 0;
    padding: 0;
    height: auto;
}

#contenedor .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border-color: black;
    background: #A00806;
    color: white;
}

#contenedor .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    border-color: #DD4444;
    color: white;
    background: #DD4444;   
}

#contenedor .ui-state-default a{
    padding: 15px 10px;
    color: white;
}

#contenedor .ui-widget-content{
    color: #555555;
}