<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}{% endblock %} - Generación 90</title>
        <link rel="stylesheet" type="text/css" href="/Css/Fuentes.css">
        <link rel="stylesheet" type="text/css" href="/Css/Font-awesome/css/font-awesome.min">
        <link rel="stylesheet" type="text/css" href="/Css/Bootstrap.css">
        {% block css %}{% endblock %}
        <script type="text/javascript" src="/Javascript/Jquery-1.11.1.js"></script>
        <script type="text/javascript" src="/Javascript/Bootstrap.js"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
        {% block cabecera %}{% endblock %}
        
        <div>  
            {% block cuerpo %}{% endblock %}
        </div>
    </body>
</html>